@font-face {
  font-family: "Dm Sans";
  src: url(../fonts/dm_sans_regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dm Sans";
  src: url(../fonts/dm_sans_medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat_bold.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --light-color: #828282;
  --dark-color: #000;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Roboto";
  padding-top: 110px;
}

.scroll-lock {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.button-up {
  position: fixed;
  bottom: 40px;
  right: 40px;
  padding: 10px 15px;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  transition: 0.3s;
  background-color: #154444;
}