.all__container {
    margin-top: 50px;
    margin-bottom: 100px;
}

.all__title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.all__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    text-align: center;
    gap: 20px;
    margin-bottom: 70px;
}

.all__list-item {
    border: none;
    padding: 20px 10px;
}

.all__list-item__link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(1rem, 0.8182rem + 0.9091vw, 1.5rem);
    line-height: 112%;
    color: #919090;
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
}

.all__list-item__link:hover {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 112%;
    color: #154444;
    text-decoration: underline;
}

.all__about {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

.all__about-img {
    position: relative;
    width: fit-content;
    display: inline-block;
    z-index: 4;
}

.all__about-img::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 150px;
    height: 90px;
    background: #1F4946;
    z-index: 2;
}

.all__about-img::after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 150px;
    height: 90px;
    background: #1F4946;
    z-index: 1;
}

.all__about-img__img {
    display: block;
    position: relative;
    z-index: 2;
    width: 100%;
}


.all__about-list {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.all__about-item {
    display: flex;
    flex-direction: column;
    border: 2px solid #90b1b3;
    margin-top: 10px;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 12px 60px;
}

.span-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.six-text {
    padding: 0
}

.all__about-item__img {
    margin-left: 35%;
}

.svg {
    margin-left: 10px;
}

.all__about-item:hover {
    background-color: #154444;
    color: white;
    cursor: pointer;
}

.six-item {
    padding: 5px 80px;
}

.three-item {
    padding: 8px 60px;
}

.all__about-img,
.all__about-list {
    opacity: 0;
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.all__about-img {
    transform: translateX(-60px);
}

.all__about-list {
    transform: translateX(60px);
}

.all__about-img.active,
.all__about-list.active {
    opacity: 1;
    transform: translateX(0);
}

.all__about-list {
    transition-delay: 0.2s;
}