.header {
    background-color: var(--black);
    padding-block: 12px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.logo {
    z-index: 101;
}

.logo__icon {
    width: 150px;
    margin: 0;
    padding: 0;
}