.nav {
  position: fixed;
  top: -100%;
  width: 100%;
  bottom: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px 0;
  background-color: rgb(255, 255, 255);
  z-index: 100;
  transition: top 0.5s, bottom 0.5s;
  margin-top: 10px;
}

.nav_active {
  top: 0;
  bottom: 0;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 65px;
}

.nav__link {
  font-weight: 500;
  font-size: 34px;
  color: black;
  text-decoration: none;
}

.nav__link:hover {
  text-decoration: underline;
}