.slider__list {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.slider-box {
    width: 100%;
    height: 400px;
    display: flex;
    gap: 30px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.slider {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    overflow: hidden;
}

.slider {
    position: relative;
}

.slider__list {
    display: flex;
    gap: 30px;
    transition: transform 0.5s ease-in-out;
}

.slider__box__img {
    max-width: 500px;
    max-height: 400px;
    object-fit: cover;
}

.slider__box-up__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.slider__box-up {
    display: flex;
    gap: 150px;
    margin-bottom: 3px;
    margin-bottom: 10px;
}

.slider__box-down {
    display: flex;
    gap: 270px;
}

.slider__box-down__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 129%;
    color: #154444;
}

.slider__box-down__btn {
    background: #244d4d;
    color: white;
    border: none;
}

.slider__box-down__btn:hover {
    background: #154444;
    cursor: pointer;
}

.slider__actions {
    display: flex;
    gap: 20px;
    position: absolute;
    left: 85%;
    bottom: 75%;
}

.slider__action-prev {
    border: none;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.slider__action-next {
    border: none;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.slider__action-slaq {
    width: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}